Referencias*
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
pfc-memoria.pdf
presentacion.pdf
*.nav
*.snm
*.run.xml
*.synctex*
*.toc
*.idx
*.ilg
*.ind
*.lol
*.lot
*.lof
*.mw
*.puml.tex
_minted*
mendeley.Data
pfc-memoria.srs*s
*.mintedcmd
*.mintedmd5
*.pyg
