Referencias*
pfc-memoria.aux
pfc-memoria.bbl
pfc-memoria.bcf
pfc-memoria.blg
pfc-memoria.fdb_latexmk
pfc-memoria.fls
pfc-memoria.log
pfc-memoria.out
pfc-memoria.pdf
pfc-memoria.run.xml
pfc-memoria.synctex*
pfc-memoria.toc
pfc-memoria.idx
pfc-memoria.ilg
pfc-memoria.ind
pfc-memoria.lol
pfc-memoria.lot
pfc-memoria.lof
pfc-memoria.mw
*.puml.tex
_minted*
mendeley.*
